body{
    font: 20px Arial, sans-serif;
}

.principal{
    background-color: #C4C4C4 ;
    padding: 10%;
}

.chamada{
    padding: 150px 0;
    background-color: #D9CCCC;
}

.bg-footer{
    background-color: black;
    color:white;
}

.margin{
    padding-bottom: 110px;
}